body
{
background-color:rgb(24, 24, 24);
}

h1
{
    color:honeydew;
    background-color: teal;
}

#show_sketch
{
    float:right;
}

canvas
   {
       border: 5px solid white;
       border-radius: 20px;
       animation-name: example;
       animation-duration: 4s;
       margin-top: 50px;
       animation-iteration-count: infinite;
   }
@keyframes example {

   from {box-shadow: 1px 1px 38px rgb(175, 210, 210);}
   to {box-shadow: 1px 1px 38px rgb(255, 255, 255);}
}

p
   {
       padding-top: 10px;
       font-size: 25px;
       color:cornsilk;
   }